[Unit]
Description=shikigotchi Deep Reinforcement Learning instrumenting bettercap for WiFI shikiing.
Documentation=https://shikigotchi.org
Wants=network.target
After=shikigrid-peer.service

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/shikigotchi-launcher
ExecStopPost=/usr/bin/bash -c "if egrep -qi  'personality.clear_on_exit[ =]*true' /etc/shikigotchi/config.toml ; then /usr/local/bin/shikigotchi --clear; fi"
Restart=always
RestartSec=30
TasksMax=infinity
LimitNPROC=infinity
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
